.grid {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(30, 40px);
    gap: 1px;
  }

.grid_cell{
  border: solid black 2px;
  text-align: center;
  font-size: 15px;
}  
.grid_cell--selected{
  background-color: blue;
}