.btn {
  font-size: 21px;
  font-weight: 400;
  padding: 8px 68px;
  width: 240px;
  border: none;
  border-radius: var(--border-radius);
  align-self: center;
  color: var(--color-light);
  background-color: var(--color-accent);
}
