.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  gap: 3rem;
}

.header__theme-switch {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.header__theme-switch:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}
.header__theme-switch-icon {
  width: 40px;
  height: 40px;
  position: absolute;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.person__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 215px;
  width: 631px;
}
.person__avatar {
  width: 215px;
  height: 215px;
}
.person__avatar-img:hover {
  animation-name: scale-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.person__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  max-height: 156px;
}
.person__job-title {
  margin: 0;
  font-weight: 500;
  color: var(--text-color-primary);
}
.person__social-media {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  align-items: flex-start;
}
.person__social-media-link {
  height: 36px;
  width: 36px;
}
.person__social-media-link:hover {
  filter: brightness(50%);
}
.person__social-media-icon {
  height: 100%;
  width: 100%;
}
.person__achievements {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.person__achievements-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.person__achievements-item .person__achievements-item-subtitle, .person__achievements-item .person__achievements-item-title {
  text-align: center;
  font-weight: 500;
  color: var(--text-color-primary);
}
.person__achievements-item-title {
  font-size: 24px;
  color: var(--text-color-additional);
}
.person__achievements-item-subtitle {
  letter-spacing: 0.1rem;
  line-height: 140%;
}
.person__contact-btn {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.person__btn {
  width: 290px;
  height: 80px;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.person__btn a {
  color: var(--text-color-secondary);
}
.person__btn a:active, .person__btn a:focus {
  text-decoration: none;
}
.person__btn--download {
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
}
.person__btn--download:hover {
  background-color: #fac810;
}
.person__btn--contact {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
}
.person__btn--contact:hover {
  background-color: var(--nav-active-color);
}
.person__arrow-icon {
  width: 24px;
  height: 27px;
  margin-left: 1.5rem;
}

h1 {
  color: var(--text-color-secondary);
  font-weight: 500;
  font-size: 46px;
  margin: 0;
}/*# sourceMappingURL=header.css.map */