$main-font-family: 'Poppins', sans-serif;
$main-font-size: 22px;

:root {
    --background-main: #E9EBEC;
    --secondary-color: #FFFFFF;
    --text-color-primary: #575757;
    --text-color-secondary: #3D3D3D;
    --text-color-additional: #3A3A3A;
    --text-color-additional2: #19191B;
    --accent-color: #FBD144;
    --nav-active-color: #D7D7D7;
}

.dark-mode {
    --background-main: #0C151D;
    --secondary-color: #171F26;
    --text-color-primary: #A3ABB2;
    --text-color-secondary: #F1F2F4;
    --text-color-additional: #A3ABB2;
    --text-color-additional2: #A3ABB2;
    --accent-color: #FFE071;
    --nav-active-color: #0C151D;
}