* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0C151D;
    font-family: Poppins;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.switch {
    width: 80px;
    height: 80px;
    background-color: #171F26;
    border-radius: 100px;
    border: none;
    margin: 0 auto;
    margin-top: 33px;
    display: block;
    cursor: pointer;
}

.profile__info {
    margin: 0 auto;
    margin-top: 65px;
    width: 631px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
}

.profile__info-name {
    color: #F1F2F4;
    font-size: 46px;
}

.profile__info-speciality {
    color: #A3ABB2;
    font-size: 22px;
}

.profile__info-social {
    margin-top: 12px;
    display: flex;
    column-gap: 26px;
}

.profile__facts {
    display: flex;
    justify-content: center;
    column-gap: 90px;
    font-size: 22px;
    color: #A3ABB2;
    margin: 0 auto;
    margin-top: 48px;
    padding: 20px 31px;
}

.profile__facts-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 148px;
}

.profile__buttons {
    display: flex;
    justify-content: center;
    width: 618px;
    height: 80px;
    margin: 0 auto;
    margin-top: 47px;
}

.profile__buttons-btn {
    width: 290px;
    height: 80px;
    background-color: #171F26;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 22px;
    color: #A3ABB2;
    border: none;
}
.profile__buttons-btn-download {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.profile__buttons-btn:hover {
    background-color: #FFE071;
    color: #3D3D3D;
    cursor: pointer;
}

.tabs__wrapper {
    padding: 23px 18px;
    background-color: #171F26;
    width: 756px;
    height: 132px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.tabs__item {
    width: 349.6px;
    height: 80px;
    font-size: 22px;
    color: #A3ABB2;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;

}
.tabs__item.active {
    background-color: #0C151D;
}

.portfolio {
    margin-top: 65px;
    padding-bottom: 52px;
}

.portfolio__content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 48px;
}


.portfolio__card-img {
    width: 362px;
    height: 226px;
    border-radius: 15px;

}

.portfolio__card-descr {
    position: absolute;
    top: 0;
    border-radius: 15px;
    width: 362px;
    height: 226px;
    background-color: rgba(255, 224, 113, 0.88);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 54px 40px 38px 35px;
    text-align: center;

}

.portfolio__card-title {
    font-size: 22px;
    color: #3D3D3D;
}

.portfolio__card-subtitle {
    font-size: 14px;
    color: #3D3D3D;
}

.portfolio__card-link {
    margin-top: 18px;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    margin: 78px 0 80px 0;
    font-size: 22px;
    color: #A3ABB2;
}

