.button {
  width: 240px;
  height: 40px;
  display: flex;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
  border-radius: 4px;
  margin-inline: 1rem;
  align-items: center;
  letter-spacing: 0px;
  justify-content: center;
  background-color: #02CC67;
}