.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(30, 40px);
  gap: 1px;
  border: 1px solid #000;
}

.grid-cell {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.selected {
  background-color: blue;
  color: white;
}

.active-row {
  background-color: rgb(91, 175, 202);
}

.active-column {
  background-color: rgb(91, 175, 202);
}
.clicked {
  background-color: rgb(119, 97, 199);
}
.selected-text {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
