.personal-info {
	margin-top: 65px;
	max-width: 631px;
}

.personal-info__top {
	display: flex;
	align-items: center;
	gap: 40px;
}

.personal-info__image {
	width: 215px;
	height: 215px;
	border: 4px solid var(--color-primary);
	border-radius: 100%;
	padding: 9px;
	background-color: #ffffff;
}

.personal-info__image img{
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

.personal-info__title {
	font-size: 46px;
	line-height: 69px;
}

.personal-info__job-name {
	color: var(--color-text-second);
}

.personal-info__links {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-top: 15px;
}

.personal-info__link {
	text-decoration: none;
}

.personal-info__experience {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

.personal-info__topic {
	max-width: 150px;
	text-align: center;
}

.personal-info__topic span {
	color: var(--color-text-second);
}

.personal-info__cta {
	margin-top: 70px;
	display: flex;
	gap: 35px;
}

.personal-info__download-cv {
	border-radius: var(--border-radius-2);
	padding: 25px 40px;
	width: 100%;
	background-color: var(--color-primary);
}

.personal-info__download-cv span {
	margin-left: 20px;
	color: #000000;
}

.personal-info__contact {
	border-radius: var(--border-radius-2);
	padding: 25px 40px;
	width: 100%;
	background-color: var(--color-secondary);
}
