.contact-button {
  width: 18.125rem;
  height: 5rem;
  border-radius: 0.625.rem;
  border: 0px solid #3E64AA;
  background: #FFF;
  color: #3D3D3D;
  text-align: center;
  font-size: 1.375rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  cursor: pointer;
}

#active-contact-button{
  background: #FBD144;
}

.contact-button__arrow{
  position: relative;
  left: 1rem;
  top: 0.1rem;
}