.contact-button {
  width: 18.125rem;
  height: 5rem;
  border-radius: 0.625rem;
  border: 0px solid #3E64AA;
  background: #FFF;
  color: #3D3D3D;
  text-align: center;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  letter-spacing: -0.031rem;
  cursor: pointer;
}

#active-contact-button{
  background: #FBD144;
}

.contact-button__arrow{
  position: relative;
  left: 1rem;
  top: 0.1rem;
}