.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 47.5rem;
  max-width: 100%;
}

.portfolio__project{
  margin-top: 1rem;
}

.portfolio__project:hover{
  cursor: pointer;
}

@media (max-width: 761px){
  .portfolio{
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 376px){

  .portfolio{
    gap: 0.88rem;
  }

  .portfolio__project{
    width: 21.25rem;
    max-width: 100%;
    height: 13.125rem;
    border-radius: 0.9375rem;
  }
}