.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 47.5rem;;
}

.portfolio__project{
  margin-top: 1rem;
  cursor: pointer;
}

@media (max-width: 761px){
  .portfolio{
    width: 100%;
    justify-content: center;
  }

}