.tile {
  position: relative;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  border: none;
  border-radius: var(--tile-border-radius);
  background: center/contain no-repeat
    url(../../../public/Avatar-Placeholder.jpg);

  &__image,
  &__refresh {
    width: 100%;
    height: 100%;
  }

  &__refresh-icon,
  &__refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &__refresh {
    display: none;
  }

  &:hover {
    filter: brightness(50%);

    & .tile__refresh {
      display: block;
      cursor: pointer;
    }
  }
}
