.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 3rem 2rem;
  height: 100%;
  font-size: var(--font-size);

  &__avatars {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    @media (max-width: 28rem) {
      justify-content: center;
    }
  }

  &__refresh {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    width: 100%;
  }
}
