.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  height: 100%;
  font-size: var(--font-size);

  &__avatars {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }
}
