.todoItem {
  min-width: 676px;
  /* width: 100%; */
}

.todoItem:not(:last-child) {
  margin-bottom: 47px;
}

.todoItem__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoItem__info {
  padding: 6px 88px;
  flex-basis: 82%;
  background-color: var(--color-light);
}

.todoItem__btns {
  display: flex;
}
