$textColor: #A3ABB2;
$titleColor: #F1F2F4;
$mainBGColor: #0C151D;
$profileAvatarColor: white;
$downloadBtnColor: #3D3D3D;
$contactBtnBgColor: #171F26;
$portfolioExampleLink: white;
$downloadBtnBgColor: #FFE071;
$portfolioExampleText: #3D3D3D;
$portfolioBtnsBgColor: #171F26;
$portfolioExampleTitle: #3D3D3D;
$toggleSwitcherBgColor: #171F26;
$profileAvatarBorderColor: #FFE071;
$portfolioBtnActiveBgColor: #0C151D;