*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    animation-name: selector;
    animation-duration: 2500ms;
}

@keyframes selector {
    from{opacity: 0%;}
    to {opacity: 100%;}
  }

  button:hover{
    border: 2px solid #3D3D3D;
}

body{
   
    background-color: #E9EBEC;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #575757;
}



header{
    text-align: center;
    margin: 45px auto;
}


.dark-mode-button {
    border-radius: 100%;
    background-color: white;
    transition: all linear 1000ms;
    border: none;  
    cursor: pointer;
    margin: auto;
}

.dark-mode-button__dark-mode-icon{
    transition: color 1000ms;
}

.dark-mode-button:hover{
    background-color:#171F26;
    
}  
.dark-mode-button__dark-mode-icon:hover{
    color: white;
}  

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-bottom: 10px;

}
.portfolio-presentation{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;

    
}

.portfolio-presentation__photo-container{
    width: 192px;
    height: 192px;
    flex-grow: 0.1;
}

.portfolio-presentation__profile-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    border: 3px black solid;
}

.portfolio-presentation__title-logos-container{
    
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;
    margin: 0;
   
    
}

.portfolio-presentation__full-name-h1{
    
    font-size: 46px;
    font-weight: 500;
    line-height: 69px;
    color: #3D3D3D; 
    margin: 0;
    
}

.portfolio-presentation__job-title-h4{
    font-size: 22px;
    color: #575757;
    font-weight: 500;
    line-height: 33px;
    margin: 0;
}


.portfolio-presentation__logos-container{
    display: flex;
    gap: 26px;
    margin: 25px 0 0 0;
    width: 60%;
}


.portfolio-presentation__logo{
    color: #575757;
}


.experience-stats{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.experience-stats__experience-stats-container{
    margin: auto;
}

.experience-stats__stats-numbers{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 0;
}

.experience-stats__stats-texts{
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    margin-top: 0;
}

.cv-contact-btn-container{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
}


.cv-contact-btn-container__cv-btn{
    width: 45%;
    height: 80px;
    font-size: 22px;
    line-height: 80px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color:#FBD144;
    transition: border 200ms;
    text-align: center;
    text-decoration: none;
    color: #3D3D3D;
    
}

.cv-contact-btn-container__contact-btn{
    background-color:#FFFFFF;
    transition: border 200ms;
    width: 45%;
    height: 80px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    color: #3D3D3D;
    cursor: pointer;
}


.slider{
    width: 50%;
    height: 110px;
    margin: auto;
    border: none;
    border-radius:20px;
    padding: 0;
    cursor: pointer;

}

.slider__slider-container{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    border-radius: 20px;
}

.slider__btn{
    width: 45%;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: #FFFFFF;
    margin: auto;
    font-size: 22px;
    line-height: 80px;
    font-weight: 500;
    color: #19191B;
    
}


.slider__btn--selected{
    background-color:#D7D7D7
}


.skills-projects{
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
}

.skills-projects__projects-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    align-content: center;
    
}


.skills-projects__project-display{
    width: 45%;
    margin: 25px auto;
    height: 225px;
    cursor: pointer;
    
}

.skills-projects__project-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: box-shadow 300ms ;
}
.skills-projects__project-img:hover{
    box-shadow: 5px 10px #888888;
}


.skills-projects__skills-container{

    display: flex;
    width: 100%;
    font-size: 25px;
    color: #3D3D3D;
    align-items: center;
    margin: auto 0;
    justify-content: space-evenly;
    
}

.skills-projects__skills-container-hidden{
    display: none;
}

.skills-projects__skills-list{
    width: 40%;
    list-style-type:square;
}


.skills-projects__skills-container--hidden{
    display: none;
}

.auto-scroll-button{
    position: fixed;
    border: solid 2px black;
    border-radius: 100%;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    cursor: pointer;
    transition: background-color ease-in-out 1000ms
}

.auto-scroll-button:hover{
    background-color: #FBD144;
}

footer{
    padding: 50px 0 25px 0;
    width: 100%;
    position: relative;
    top: 0;
   
}
.footer__copyright{
    
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #575757;
    margin-bottom: 0;
    
}




@media (min-width:601px) and (max-width: 1040px) {

    .experience-stats__text{
        font-size: 18px;
    }
    .dark-mode-button{
        width: auto;
    }

    .portfolio-presentation{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .portfolio-presentation__logos-container{
        align-self: center;
        justify-content: center;
    }
    .experience-stats{
        width: 60%;
    }

    .cv-contact-btn-container{
        width: 65%;
    }
    .slider{
        width: 75%;
    }
    .skills-projects{
        width: 75%;
    }
   
    .slider__btn, .experience-stats__number{
        font-size: 20px;
    }
   
   
}

@media screen and (max-width: 600px)  {
    body{
        font-size: 14px;
    }
    .portfolio-presentation__full-name-h1{
        font-size: 32px;
        line-height: 48px;
    }
    .portfolio-presentation__job-title-h4{
        font-size: 14px;
        line-height: 21px;
    }

    .dark-mode-button{
        width: 5%;
    }

    .portfolio-presentation{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .portfolio-presentation__logos-container{
        align-self: center;
        justify-content:center;
    }

    .experience-stats{
        width: 90%;
    }

    .experience-stats__number{
        font-size: 16px;
        line-height: 24px;
    }

    .experience-stats__text{
        font-size: 14px;
        line-height: 21px;
    }

    .cv-contact-btn-container{
        width: 90%;
    }

    .cv-contact-btn-container__contact-btn{
        font-size: 12px;
        line-height: 18px;
        height: 50px;
    }
    .cv-contact-btn-container__cv-btn{
        font-size: 12px;
        line-height: 50px;
        height: 50px;
    }

    .slider{
        width: 90%;
        height: 60px;
    }


    .slider__slider-container{
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .slider__btn{
        height: 50px;
        line-height: 50px;
    }
    .skills-projects{
        width: 90%;
    }
    .skills-projects__projects-container{
        width: 100%;
    }

    .skills-projects__project-display{
        width: 100%;
    }

   
    
}