.wrapper {
    margin: 0 auto;
    height: 100vh;
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: var(--font-mono);
}

.linksWrapper {
    display: flex;
    gap: 4rem;
}

.header {
    color: var(--main-text-color);
}

.text {
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 20px;
}

.text:hover {
    text-decoration: underline;
    color: var(--text-hover-color);
}