.action-buttons {
	width: 100%;
	display: flex;
	max-width: 640px;
	margin-block: 2rem;
	align-items: center;
	justify-content: space-between;

	.action-button {
		width: 45%;
		border: none;
		height: 13vw;
		display: flex;
		cursor: pointer;
		max-height: 80px;
		max-width: 290px;
		align-items: center;
		border-radius: 10px;
		transition-duration: 1s;
		justify-content: center;

		&:hover {
			transform: scale(1.25);
		}
	}
	
	.action-buttons__download {
		color: $downloadBtnColor;
		background-color: $downloadBtnBgColor;
	
		.download-icon {
			max-width: 26px;
			max-height: 26px;
		}
	}
	
	.action-buttons__contact {
		background-color: $contactBtnBgColor;
	}
}