.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--main-background);

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--green);
  }
}
