.portfolio {
  gap: 5rem 3rem;
  padding-top: 7rem;
}

.portfolio__project {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1.5rem;
}

.portfolio__project-img {
  height: 100%;
}

.portfolio__project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;

  width: 45rem;
  height: 45rem;
  padding: 6rem;
  border-radius: 50%;
  background-color: var(--secondary-bg);
  opacity: 0.88;
}

.portfolio__project:hover .portfolio__project-info {
  transform: translate(-50%, -50%) scale(1);
}

.portfolio__project-link {
  width: 3.8rem;
  height: 3.8rem;
  padding: 1rem;
  padding-left: 0.95rem;
  margin-top: 2rem;
  background-color: #fff;
  transform: translateY(400%);
  transition: transform 0.3s ease-in-out 0.3s, background-color 0.2s ease-in-out;
}

.portfolio__project-link:hover,
.portfolio__project-link:active {
  background-color: #e9ebec;
}

.portfolio__project-name {
  font-size: 2.2rem;
  font-weight: 500;
  color: #3d3d3d;
  opacity: 0;
  transform: translateX(-300%);
  transition: all 0.3s ease-in-out 0.35s;
}

.portfolio__project-description {
  font-size: 1.4rem;
  color: #575757;
  opacity: 0;
  transform: translateX(300%);
  transition: all 0.3s ease-in-out 0.35s;
}

.portfolio__project:hover .portfolio__project-name,
.portfolio__project:hover .portfolio__project-description,
.portfolio__project:hover .portfolio__project-link,
.portfolio__project:active .portfolio__project-name,
.portfolio__project:active .portfolio__project-description,
.portfolio__project:active .portfolio__project-link {
  opacity: 1;
  transform: translate(0, 0);
}

@media (max-width: 600px) {
  .portfolio__project {
    border-radius: 2.5rem;
  }

  .portfolio__project-info {
    width: 110%;
    height: 110%;
    padding: 8rem;
    border-radius: 0%;
  }

  .portfolio__project:hover .portfolio__project-info {
    animation: grow-horizontal 0.3s ease-in-out;
  }

  .portfolio__project-name {
    font-size: 4rem;
  }

  .portfolio__project-description {
    font-size: 2.2rem;
  }

  .portfolio__project-link {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 3rem;
  }
}
