.dark-mode .person__btn--contact {
    color: var( --text-color-primary);
}

.dark-mode .person__btn--contact:hover {
    filter: contrast(120%);
}

.dark-mode .portfolio__item-description {
    color: #3D3D3D;
}

.dark-mode .portfolio__item-link {
    background-color: #FFFFFF;
}
