.action_buttons {
    width: 65%;
    display: flex;
    max-width: 618px;
    margin-block: 2rem;
    align-items: center;
    justify-content: space-between;
}

.action_buttons_download {
    border: none;
    height: 80px;
    width: 290px;
    cursor: pointer;
    color: #3D3D3D;
    border-radius: 20px;
    background-color: #FFE071;
    background-position-x: 220px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-image: url("../../assets/icons/download.svg");
}

.action_buttons_contact {
    border: none;
    height: 80px;
    width: 290px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #171F26;
}