.portfolio {
    display: flex;
    margin-block: 2rem;
    align-items: center;
    flex-direction: column;
}

.portfolio_buttons {
    width: 80vw;
    padding: 3vw;
    display: flex;
    max-width: 760px;
    align-items: center;
    border-radius: 20px;
    background-color: #171F26;
    justify-content: space-between;
}

.portfolio_button {
    width: 48%;
    height: 17vw;
    border: none;
    cursor: pointer;
    max-width: 350px;
    max-height: 80px;
    border-radius: 10px;
}

.portfolio_buttons_active {
    background-color: #0C151D;
}

.portfolio_buttons_inactive {
    background-color: transparent;
}

.portfolio_examples {
    display: flex;
    flex-wrap: wrap;
    max-width: 757px;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.portfolio_example {
    width: 95%;
    height: 100vw;
    display: flex;
    max-width: 362px;
    max-height: 226px;
    margin-block: 15px;
    text-align: center;
    border-radius: 22px;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/portfolio/1.png");
}

.portfolio_example_title {
    margin-top: 3rem;
    color: #3D3D3D;
}

.portfolio_example_text {
    font-size: 14px;
    color: #3D3D3D;
    margin-top: 0.25rem;
}

.portfolio_example_link {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.portfolio_example_link_icon {
    width: 25px;
    height: 25px;
}