.portfolio {
    display: flex;
    margin-block: 2rem;
    align-items: center;
    flex-direction: column;
}

.portfolio_buttons {
    width: 80vw;
    display: flex;
    max-width: 760px;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    background-color: var(--portfolio-btns-bg-color);
}

.portfolio_button {
    width: 48%;
    height: 13vw;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    max-width: 350px;
    max-height: 80px;
    border-radius: 10px;
}

.portfolio_button:hover {
    transform: scale(0.75);
    color: var(--download-btn-bg-color);
}

.portfolio_buttons_active {
    background-color: var(--portfolio-btn-active-bg-color);
}

.portfolio_buttons_inactive {
    background-color: transparent;
}

.portfolio_examples {
    display: flex;
    flex-wrap: wrap;
    max-width: 757px;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
}