html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    color: var(--color-text-primary);
    background-color: var(--color-bgr-main);
  }
  
  h1
  {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

 button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
