/* Header */
.header {
  padding-top: 3rem;
  margin-bottom: 8rem;

  &__container {
    gap: 4.8rem;
    max-width: 67rem;
  }
}

/* Theme toggler */
.theme-toggler {
  width: 8rem;
  height: 8rem;
  opacity: 0;
  animation: come-from-top 0.5s ease-in 0.4s forwards;

  &__icon {
    filter: brightness($icon-brightness);
  }
}

/* Profile */
%profile-contact-buttons-common {
  width: 100%;
  justify-content: space-between;
  gap: 4rem;
}

.profile {
  @extend %profile-contact-buttons-common;
  gap: 4rem;

  &__picture-wrapper {
    width: 21.5rem;
    height: 21.5rem;
    padding: 0.75rem;
    border: 4px solid $secondary-bg-darkest;
    border-radius: 50%;
    background-color: #e9ebec;
    opacity: 0;
    animation: come-from-left 0.3s ease-in 0.1s forwards;
  }

  &__info {
    align-items: flex-start;
    opacity: 0;
    animation: come-from-right 0.4s ease-in 0.3s forwards;
  }

  &__name {
    font-size: 4.6rem;
    font-weight: 500;
    color: $primary-text-darker;
  }

  &__links {
    margin-top: 1rem;
    gap: 3rem;
  }

  &__link-item {
    transition: all 0.2s ease-in-out;
  }

  &__link-icon {
    width: 3.6rem;
    height: 3.6rem;
    filter: brightness($icon-brightness);
    transition: transform 0.2s ease-in-out;

    &:hover,
    &:active {
      transform: scale(1.25);
    }
  }
}

/* Achievements */
.achievements {
  width: 100%;
  justify-content: space-around;

  &__quantity {
    color: $primary-text-darkest;
    font-weight: 500;
  }
}

/* Contact buttons */
.contact-buttons {
  @extend %profile-contact-buttons-common;
  padding: 0 0.5rem;

  &__item {
    width: 100%;

    &:first-child {
      gap: 1.5rem;
    }
  }

  &__download-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (max-width: 600px) {
  .profile {
    flex-direction: column;

    &__info {
      align-items: center;
    }

    &__links {
      margin-top: 3rem;
      gap: 4rem;
    }
  }
}
