footer {
  display: flex;
  justify-content: center;
}

.copy-rights {
  margin-top: 8.2rem;
  padding-bottom: 5rem;
  position: relative;
  left: 3.2rem;
}

@media (max-width: 761px) {
  .copy-rights {
    left: 0rem;
  }
}

@media (max-width: 376px) {
  .copy-rights {
    margin-top: 3.2rem;
    padding-bottom: 3rem;
  }
}
