.todo__form {
  min-width: 676px;
  margin-bottom: calc(var(--space-measure) * 8);
  display: flex;
}

.todo__error {
  flex-basis: 82%;
}

@media (max-width: 768px) {
  .todo__form {
    min-width: 500px;
  }
}

@media (max-width: 576px) {
  .todo__form {
    min-width: 80%;
  }
}

@media (max-width: 375px) {
  .todo__form {
    min-width: 95%;
  }
}
