body {
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

button {
  cursor: pointer;
}

a {
  padding: 20px;
  font-size: 20px;
  color: #02cc67;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
}

.avatar_wrap {
  margin: 20px;
  box-shadow: 3px 3px 3px 3px #0000001a;
  border-radius: 5px;
  position: relative;
}

.avatar {
  display: block;
  border-radius: 5px;
}

.overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #00000066;
}

.refresh_item {
  position: absolute;
  top: 68px;
  left: 70px;
}

.avatar_wrap:hover .overlay {
  opacity: 1;
}

.show_more {
  background: none;
  border: none;
}

.refresh {
  background-color: #02cc67;
  width: 240px;
  height: 40px;
  border: none;
  color: #fff;
  margin-top: 320px;
  margin-bottom: 64px;
  border-radius: 3px;
  font-size: 21px;
}

.loader {
  font-size: 30px;
  border-radius: 10px;
  width: 240px;
  color: #cc5151;
  align-self: center;
}