.todo__todoList {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 676px;
  list-style-type: none;
}

.todo__noTodoList {
  text-align: center;
}
