.app-container {
  padding: 40px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.add-avatar-img {
  cursor: pointer;
}

.avatar-container {
  display: grid;
  place-items: center;
  width: 242px;
  height: 242px;
  border-radius: 6px;
  cursor: pointer;
}

.avatar-container:hover {
  filter: brightness(0.8);
}

.refresh-all-btn {
  width: 240px;
  height: 40px;
  border-radius: 3px;
  background: #02CC67;
  color: #fafafa;
  align-self: center;
  cursor: pointer;
}