.refresh-button {
  width: 15rem;
  height: 2.5rem;
  border-radius: 0.1875rem;
  background: #02cc67;
  color: #fff;
  font-family: Basic;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin-top: 6rem;
  left: 41.6%;
  bottom: 0.3rem;
  cursor: pointer;
}