.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    .footer__span {
        font-size: 0.875em;
      }
  }
  
  