html,
body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
div,
section {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 500;
    color: #575757;
    margin: 0 auto;
    background: #E9EBEC;
    padding-top: 33px;
}

ul,
li {
    list-style-type: none;
}

.header {
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    border-radius: 10px;
}

.portfolio {
    padding-top: 65px;
    padding-bottom: 75px;
    margin: 0 auto;
}

.portfolio__head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
}

.portfolio__img {
    margin-right: 40px;
}

.portfolio__links {
    padding-top: 12px;
    width: 222px;
    display: flex;
    justify-content: space-between;
}

.portfolio__facts {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 27px;
}

.fact_item {
    display: flex;
    flex-direction: column;
}

.portfolio__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D3D3D;
}

.btn_download {
    background-color: #FBD144;
    margin-right: 38px;
}

.btn_contact {
    background-color: #fff;
}

.tabs {
    display: flex;
    justify-content: center;
    color: #19191B;
}

.tabs__container {
    display: flex;
    border-radius: 10px;
    background-color: #fff;
}

.tabs__portfolio {
    width: 351px;
}

.tab--active {
    background-color: #D7D7D7;
    padding: 23px;
}

.tabs_content {
    padding-top: 65px;
    margin: 0 auto;
    width: 757px;
    display: grid;
    padding-bottom: 52px;
}

.tabs_content__img {
    border-radius: 15px;
    cursor: pointer;
}

.footer {
    padding-top: 78px;
    padding-bottom: 80px;
    text-align: center;
}

@media (max-width: 600px) {

    body,
    button {
        font-size: 14px;
    }

    .info_name {
        font-size: 36px;
    }

    .portfolio__btn {
        height: 64px;
    }

    .btn_download,
    .btn_contact {
        width: 158px;
    }

    .tabs__container {
        width: 360px;
        outline: solid 10px #fff;
    }

    .tabs_content {
        grid-template-columns: 362px;
        margin-left: 25%;
    }
}

@media (min-width: 601px) {

    body,
    button {
        font-size: 18px;
    }

    img {
        margin: 10px;
    }

    .info_name {
        font-size: 40px;
    }

    .portfolio__btn {
        height: 44px;
    }

    .btn_download,
    .btn_contact {
        width: 224px;
    }

    .tabs__container {
        width: 510px;
        outline: solid 10px #fff;
    }

    .tabs_content {
        grid-template-columns: 362px;
        margin-left: 25%;
    }
}

@media (min-width: 1025px) {

    body,
    button {
        font-size: 22px;
    }

    .info_name {
        font-size: 46px;
    }

    .portfolio__btn {
        height: 80px;
    }

    .btn_download,
    .btn_contact {
        width: 290px;
    }

    .tabs__container {
        width: 760px;
        outline: solid 20px #fff;
    }

    .tabs_content {
        grid-template-columns: 362px 362px;
        gap: 48px 32px;
    }
}