* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2c7c7;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 35px;
    margin-top: 50px;
}

.profile {
    width: 200px;
    text-align: center;
}
