* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  text-align: center;
}
h1 {
  margin: 50px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 80px;
  flex-wrap: wrap;
}
.person-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
