body {
    width: 100%;
    height: 100%;
    margin-top: 0;
    background: #0c151d;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
}
.switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #171f26;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.profile__user {
    display: flex;
    flex-flow: row wrap;
    gap: 2.5rem;
}

.user__photo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffFFF;
    border: 4px solid #f7d039;
    height: 12.75rem;
    width: 12.75rem;
    border-radius: 100%;
}

.photo__container {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    background-image: url(./assets/pictures/myPhoto.jpg);
    background-size: cover;
    background-position: center;

}

.information_name {
    margin: 0;
    color: #f1f2f4;
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.information_occupation {
    margin: 0;
    color: #a3abb2;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__experience {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 39.625rem;
    padding: 1.25rem 0.125rem;
    gap: 90px;
}

.fact__number {
    display: flex;
    justify-content: center;
    color: #a3abb2;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fact__text {
    color: #a3abb2;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__button {
    display: flex;
    gap: 2.375rem;
    flex-shrink: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.125rem;
    height: 5rem;
    border-radius: 0.625rem;
    flex-shrink: 0;
}

.button-content {
    display: flex;
    text-decoration: none;
}

.button-text {
    color: #3D3D3D;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
}

.button_color-yellow {
    background: #FBD144;
}

.button_color-white {
    border: 0px solid #3E64AA;
    background: #171f26;
}

.button_color-yellow:hover {
    background: #a88a28;
}
.button_color-white:hover {
    background: #0b1116;
}

.tabs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
    width: 47rem;
    height: 7rem;
    flex-shrink: 0;
    border-radius: 20px;
    background: #171f26;
}

.tab-button {
    width: 22rem;
    height: 5rem;
    border-radius: 10px;
    border: 0px solid #3E64AA;
}

.tab-button_color-grey {
    background: #0c151d;
}

.tab-button__text {
    color: #a3abb2;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: normal;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    width: 47.3125em;
    height: 51.625em;
    flex-shrink: 0;
    border-radius: 20px;
}

.project__content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 22.625em;
    height: 14.125em;
    flex-shrink: 0;
}

.footer-text {
    color: #a3abb2;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 800px) {
    body {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 10px;
    }
    .profile__user {
        justify-content: center;
        flex-flow: column wrap;
    }
    .user__photo {
        display: flex;
        justify-content: center;
    }
    .profile__information {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .information_social-media {
        display: flex;
        justify-content: space-between;
    }
    .projects {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: auto;
        background-size: cover;
    }
    .project__content {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 1.875em 0 1.875em 0;
    }

}