@media (min-width: 768px) {
    .myPhoto {
        width: 315px;
        height: 315px;
        border-radius: 50%;
        object-fit: cover;
    }
    .description {
        font-size: x-large;
    }
    .navButton {
        font-size: x-large;
        width: 18rem;
        height: 6rem;
    }
    .CVButton {
        font-size: x-large;
        width: 16rem;
        height: 5rem;
    }
}

@media (max-width: 767px) {
    .gallery img {
        width: available;
    }
}

@media (min-width: 530px) and (max-width: 767px) {
    .gallery img {
        width: 15rem;
    }
}

@media (max-width: 529px) {
    .CVButton{
        width: 9rem;
    }
    .navButton{
        width: 10rem;
    }
}

@media (max-width: 767px) {
    #scrollToTopBtn {
        display: block;
    }
}