.main {
  width: 100%;
  display: flex;
  min-height: 80%;
  padding-block: 10vh;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(116.67deg, #8C72B7 0.58%, rgba(192, 46, 195, 0) 101.02%);
}

.list {
  margin-top: 2rem;
}