body {
  padding-top: 224px;
}

.traficLight {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.body {
  background-color: #585f68;
  width: 240px;
  height: 560px;
  box-sizing: border-box;
  padding-top: 76px;
  border-radius: 60px;
  z-index: 1;
  box-shadow: 24px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.head {
  background-color: #414447;
  width: 120px;
  height: 378px;
  border-radius: 40px;
  position: absolute;
  top: -33px;
}

.ligth_element {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #5b5b5b;
  box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.red {
  background-color: #df4040;
}

.yellow {
  background-color: #e9ec6a;
}

.green {
  background-color: #04ca00;
}
