* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    116.67deg,
    #8c72b7 0.58%,
    rgba(192, 46, 195, 0) 101.02%
  );
  font-size: 2.5rem;
  min-height: 100vh;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.add-todo {
  margin: 5rem 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.todo__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Utility classes */
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.form-control {
  background-color: #fff;
  font-size: inherit;
  width: 80%;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #333;

  font-size: inherit;
  padding: 0.75rem 2rem;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #5275a0;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #577ba8;
}

.btn-icon {
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  padding: 0;
}

.btn-icon_active {
  background-color: aquamarine;
}

.text-line-through {
  text-decoration: line-through;
}

.error-message {
  margin: 1rem 0;
  color: #c20000;
}
