.container {
  cursor: pointer;
  position: relative;
  height: 240px;
  width: 240px;
}

.wrapper {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

.image_hover {
  display: none;
}

.container:hover > .image_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
