body{
    box-sizing: border-box;
    background-color: #E9EBEC;
    margin: 0 auto;
    height: 100%;
    width: 100%;
   
}

header{
    text-align: center;
    margin: 25px auto 65px auto;
}


.darkModeButton {
    width: 4%;
    border-radius: 100%;
    background-color: white;
    transition: all 1000ms;
    margin-top: 25px;
    border: none;
}

#darkModeImage{
    width: 100%;
}

.darkModeButton:hover{
    background-color:grey ;
}       
main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}
.portfolioPresentation{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;

    
}

.photoContainer{
    justify-self: center;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#profileImage {
    width: 192px;
    height: 192px;
    border-radius: 100%;
    border: 5px white solid;
}

.titleLogos{
    
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-content: flex-start;
}

.titleLogos h1{
    
    font-size: 46px;
    font-weight: 500;
    line-height: 69px;
    color: #3D3D3D; 
    margin: 0 auto;
    
}

.titleLogos h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #575757;
    margin: 0 ;
}


.portfolioPresentation .socials{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}



.socialsLogo {
    width: 36px;
    height: 36px;
}



.experienceStats {
    width: 40%;
    padding: 20px 2px 20px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.experienceStatsDiv{
    margin: auto;
}

.experienceStatsNumber{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 0;
}

.experienceStatsText{
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    margin-top: 0;
}

.cvContactButtonsContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

.cvContactButtonsContainer button{
    width: 45%;
    height: 80px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.sliderContainer{
    width: 50%;
    height: 110px;
    margin: 0 auto;

}

.sliderPortfolioSkills{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0 15px 0;
    margin: 11px 0;
    border-radius: 20px;
}

.sliderButton{
    width: 45%;
    height: 80px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    margin: auto 0;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
}

.sliderButton:focus{
    background-color: #D7D7D7;
}

.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    padding: 20px 0;
    align-content: center;
}

.projectsContainer div{
    width: 45%;
    margin: 25px auto;
    height:225px;
    
    
}

.projectsContainer div img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


footer p{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #575757;
}


