*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    animation-name: selector;
    animation-duration: 2500ms;
}

@keyframes selector {
    from{opacity: 0%;}
    to {opacity: 100%;}
  }

  button:hover{
    border: 2px solid #3D3D3D;
}

body{
   
    background-color: #E9EBEC;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #575757;
}



header{
    text-align: center;
    margin: 25px auto 65px auto;
}


#darkModeButton {
    border-radius: 100%;
    background-color: white;
    transition: all linear 1000ms;
    margin-top: 25px;
    border: none;  
    cursor: pointer;
}

#darkModeButton i{
    transition: color 1000ms;
}




#darkModeButton:hover{
    background-color:#171F26;
    
}  
#darkModeButton i:hover{
    color: white;
}     
main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-bottom: 10px;

}
.portfolioPresentation{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;

    
}

.photoContainer{
    width: 192px;
    height: 192px;
    flex-grow: 0.1;
}

#profileImage {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    border: 3px black solid;
}

.titleAndLogos{
    
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;
    margin: 0;
   
    
}

.titleAndLogos h1{
    
    font-size: 46px;
    font-weight: 500;
    line-height: 69px;
    color: #3D3D3D; 
    margin: 0;
    
}

.titleAndLogos h4 {
    font-size: 22px;
    color: #575757;
    font-weight: 500;
    line-height: 33px;
    margin: 0;
}


.portfolioPresentation .socials{
    display: flex;
    gap: 26px;
    margin: 25px 0 0 0;
    width: 60%;
}


.socialsLogo{
    color: #575757;
}


.experienceStats {
    width: 40%;
    padding: 20px 2px 20px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.experienceStatsDiv{
    margin: auto;
}

.experienceStatsNumber{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 0;
}

.experienceStatsText{
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    margin-top: 0;
}

.cvContactButtonsContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
}

.cvContactButtonsContainer button{
    width: 45%;
    height: 80px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    color: #3D3D3D;
    cursor: pointer;

}
#cvButton{
    width: 45%;
    height: 80px;
    font-size: 22px;
    line-height: 80px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color:#FBD144;
    transition: border 200ms;
    text-align: center;
    text-decoration: none;
    color: #3D3D3D;
    
}

#contactButton{
    background-color:#FFFFFF;
    transition: border 200ms;
}


div.sliderContainer{
    width: 50%;
    height: 110px;
    margin: auto;
    border: none;
    border-radius:20px;
    padding: 0;
    cursor: pointer;

}

.sliderPortfolioSkills{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    border-radius: 20px;
}

.sliderPortfolioSkills p{
    width: 45%;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: #FFFFFF;
    margin: auto;
    font-size: 22px;
    line-height: 80px;
    font-weight: 500;
    color: #19191B;
    
}

p.selected{
    background-color:#D7D7D7 ;
}




.skillsProjectsContainer{
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
}

#projectsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    align-content: center;
    
}


div#projectsContainer.hidden{
    display: none;
}

div#skills.hidden{
    display: none;
}

#projectsContainer div{
    width: 45%;
    margin: 25px auto;
    height: 225px;
    cursor: pointer;
    
}

#projectsContainer div img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: box-shadow 300ms ;
}
#projectsContainer div img:hover{
    box-shadow: 5px 10px #888888;
}


#skills{

    display: flex;
    width: 100%;
    font-size: 25px;
    color: #3D3D3D;
    align-items: center;
    margin: auto 0;
    justify-content: space-evenly;
    
}

.skillsList{
    width: 40%;
    list-style-type:square;
}

#autoScrollButton{
    position: fixed;
    border: solid 2px black;
    border-radius: 100%;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    cursor: pointer;
    transition: background-color ease-in-out 1000ms
}

#autoScrollButton:hover{
    background-color: #FBD144;
}

footer{
    padding: 50px 0 25px 0;
    width: 100%;
    position: relative;
    top: 0;
   
}
footer p{
    
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #575757;
    margin-bottom: 0;
    
}




@media (min-width:601px) and (max-width: 1040px) {

    .experienceStatsText{
        font-size: 18px;
    }
    .darkModeButton{
        width: 5%;
    }

    .portfolioPresentation{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .socials{
        align-self: center;
        justify-content: center;
    }
    .experienceStats{
        width: 60%;
    }

    .cvContactButtonsContainer{
        width: 65%;
    }
    div.sliderContainer{
        width: 75%;
    }
    .skillsProjectsContainer{
        width: 75%;
    }
   
    #cvButton, #contactButton, .sliderPortfolioSkills p, .experienceStatsNumber{
        font-size: 20px;
    }
   
   
}

@media screen and (max-width: 600px)  {
    body{
        font-size: 14px;
    }
    h1{
        font-size: 32px;
        line-height: 48px;
    }
    h4{
        font-size: 14px;
        line-height: 21px;
    }

    .darkModeButton{
        width: 10%;
    }

    .portfolioPresentation{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials{
        align-self: center;
        justify-content:center;
    }

    .experienceStats{
        width: 90%;
    }

    .experienceStatsNumber{
        font-size: 16px;
        line-height: 24px;
    }

    .experienceStatsText{
        font-size: 14px;
        line-height: 21px;
    }

    .cvContactButtonsContainer{
        width: 90%;
    }

    .cvContactButtonsContainer button{
        font-size: 12px;
        line-height: 18px;
        height: 50px;
    }
    #cvButton{
        font-size: 12px;
        line-height: 50px;
        height: 50px;
    }

    div.sliderContainer{
        width: 90%;
        height: 60px;
    }


    .sliderPortfolioSkills{
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .sliderPortfolioSkills p{
        height: 50px;
        line-height: 50px;
    }
    .skillsProjectsContainer{
        width: 90%;
    }
    #projectsContainer{
        width: 100%;
    }

    #projectsContainer div{
        width: 100%;
    }

   
    
}