.main-container {
  background-image: url('./assets/img/backgrounds/background.png');
  min-height: 100vh;
  background-size: cover;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
  align-items: center;
  margin-top: 2.1rem;
}

.clear-completed-tasks {
  height: 3rem;
  width: 15rem;
  background-color: green;
  font-family: var(--main-font-family);
  font-size: 1.5rem;
  font-style: var(--main-font-style);
  color: #FFF;
}

.clear-completed-tasks:hover {
  cursor: pointer;
  background-color: orange;
}

.clear-completed-tasks:active {
  background-color: orangered;
}