body{
    --accent-color: #ffd966;
    --transition-delay: 1s;
    --background-color: #f1e5ff;
    --button-text-color: #333;
    --text-color:#232b2b;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top:30px;

    background-color: var(--background-color);
    color: var(--text-color);
    transition: var(--transition-delay);
}

body.dark {
    --background-color: #15121e;
    --text-color: #FAECE2;
    --button-text-color: #FAECE2;
}


@media screen and (max-width: 900px){
    h1,h2,h3 {
        font-size:20px;
    }
}

.span {
    display: flex;
    justify-content: center;
}

h2 {
    padding-bottom: 1px;
    margin-bottom:1px;
}

p {
    font-size: smaller;
    margin-top:1px;
    margin-right:4vh;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-top: 1px;
}


.profile__name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__picture {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-right: 5vh;
    object-fit: cover;
    border-color: #ffd966;
    border-width: 2vh;
}

@media screen and (max-width: 900px){
    .profile__picture {
        height: 110px;
        width: 110px;
    }
}


.profile__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social__links {
    padding-right: 30px;
}

.social-link {
    width: 2.5vh;
    margin-right:1.4vh;
}

.profile__achievements {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.contact__buttons {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}



.contact__button {
    height:45px;
    width: 175px;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    color: #232b2b;
    transition: var(--transition-delay);
}

.contact__button.dark {
    background-color: #2f2744;
    color: white;
}

.contact__button:hover {
    transform: scale(1.1);
}


.cv__button {
    height:45px;
    width: 175px;
    background-color: #ffd966;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    color: #232b2b;
    cursor: pointer;
    transition: 1s;
}

.cv__button:hover {
    transform: scale(1.1);
}

.scroll__up{
    border:none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 30px;
    position: fixed;
    z-index: 100;
    bottom: 10%;
    right: 5%;
    box-shadow: rgba(105, 105, 150, 0.2) 0px 7px 20px 0px;
    cursor: pointer;
    transition: .3s;
}


.content__buttons {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    background-color: white;
    width: 60vh;
    padding:1vh;
    border-radius: 10px;
    transition: var(--transition-delay);
}

@media screen and (max-width: 900px) {
    .content__buttons {
        width: 400px;
    }
}

.content__buttons.dark {
    background-color: #2f2744;
}

.portfolio__button {
    height:45px;
    width: 175px;
    background-color: rgb(204,204,204);
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    color: #232b2b;
    transition: var(--transition-delay);
}

.portfolio__button.dark {
    background-color: #15121e;
    color:#f1e5ff
}

.portfolio__button:hover {
    transform: scale(1.1);
}

.skills__button {
    height:45px;
    width: 175px;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    color: #232b2b;
    transition: var(--transition-delay);
}

.skills__button:hover {
    transform: scale(1.1);
}

.skills__button.dark {
    background-color: #2f2744;
    color:#f1e5ff
}

.content__options {
    display: flex;
    justify-content: center;
}

.content__pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.posted-content {
    height: 170px;
    margin: 1.4vh;
    margin-top: 2vh;
    margin-right: 2.6vh;
    border-radius: 3%;
    transition: 1.2s;
}

.posted-content:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 45px;
}

img {
    transition: var(--transition-delay);
}

.toggle-button {
    display: flex;
    position: fixed;
    justify-content: center;
}

.theme__changer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition-delay);
    color:white;    
}

.color__button:hover {
    transform: scale(1.2);
}

.sun__image {
   transition: var(--transition-delay);
}

.scroll__up_icon.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.sun__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.sun__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.moon__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.facebook__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.instagram__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.linkedin__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.twitter__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}



