body {
    --accent-color: #ffd966;
    --transition-delay: 1s;
    --background-color: #E9EBEC;
    --button-text-color: #333;
    --text-color: #232b2b;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    background-color: var(--background-color);
    color: var(--text-color);
    transition: var(--transition-delay);
}

body.dark {
    --background-color: #0c151d;
    --text-color: #FAECE2;
    --button-text-color: #FAECE2;
}


@media screen and (max-width: 900px) {

    h1,
    h2,
    h3 {
        font-size: 20px;
    }
}

.span {
    display: flex;
    justify-content: center;
}

h2 {
    padding-bottom: 1px;
    margin-bottom: 1px;
}

p {
    font-size: smaller;
    margin-top: 1px;
    margin-right: 4vh;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-top: 1px;
}


.profile__name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__picture {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-right: 5vh;
    object-fit: cover;
    border-color: #ffd966;
    border-width: 2vh;
}

@media screen and (max-width: 900px) {
    .profile__picture {
        height: 110px;
        width: 110px;
    }
}


.profile__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social__links {
    padding-right: 30px;
}

.social-link {
    width: 2.5vh;
    margin-right: 1.4vh;
}

.profile__achievements {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.contact__buttons {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}



.contact__buttons-contact__button {
    height: 45px;
    border: none;
    width: 175px;
    border-radius: 5px;
    background-color: white;
    color: #232b2b;
    transition: var(--transition-delay);
}

.contact__buttons-contact__button.dark {
    background-color: #171f26;
    color: white;
}

.contact__buttons-contact__button:hover {
    transform: scale(1.1);
}


.contact__buttons-cv__button {
    height: 45px;
    width: 175px;
    background-color: #ffd966;
    border-radius: 5px;
    border: none;
    margin-right: 35px;
    color: #232b2b;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

@media screen and (max-width:900px) {
    .contact__buttons-cv__button {
        scale: 1.06;
        margin-right: 45px;
    }
}


@media screen and (max-width:900px) {
    .contact__buttons-contact__button {
        scale: 1.06;
    }
}

.contact__buttons-cv__button-text {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 13px;
}

.contact__butonns-cv__button-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__buttons-cv__button-download {
    width: 20px;
    margin-left: -10px;
}

.contact__buttons-cv__button:hover {
    transform: scale(1.1);
}

.scroll__up {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 30px;
    position: fixed;
    z-index: 100;
    bottom: 10%;
    right: 5%;
    box-shadow: rgba(105, 105, 150, 0.2) 0px 7px 20px 0px;
    cursor: pointer;
    transition: .3s;
}


.content__buttons {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    background-color: white;
    width: 60vh;
    padding: 1vh;
    border-radius: 10px;
    transition: var(--transition-delay);
}

@media screen and (max-width: 700px) {
    .content__buttons {
        width: 405px;
        margin-top: 8vh;
        margin-bottom: 1vh;
    }
}



@media screen and (max-width: 700px) {
    .content__picture {
        width: 100%;
        scale: 1.6;
        margin: 100px;
        margin-left: 125px;
    }
}



.content__buttons.dark {
    background-color: #171f26;
}

.portfolio__button {
    height: 45px;
    width: 175px;
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    color: #232b2b;
    transition: var(--transition-delay);
}

@media screen and (max-width:900px) {
    .portfolio__button {
        scale: 1.02;
    }
}

.portfolio__button.dark {
    background-color: #232b2b;
    color: #f1e5ff
}

.portfolio__button:hover {
    transform: scale(1.1);
}

.content__picture-image {
    width: 100px;
}

.skills__button {
    height: 45px;
    width: 175px;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    color: #232b2b;
    transition: var(--transition-delay);
}

.skills__button:hover {
    transform: scale(1.1);
}

.skills__button.dark {
    background-color: #171f26;
    color: #f1e5ff
}

.content__options {
    display: flex;
    justify-content: center;
}

.content__pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;

}

.posted-content {
    height: 170px;
    margin: 1.5vh;
    margin-top: 1.9vh;
    margin-right: 2.4vh;
    border-radius: 3%;
    transition: 1.2s;
}

.posted-content:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 45px;
}

img {
    transition: var(--transition-delay);
}

.toggle-button {
    display: flex;
    position: fixed;
    justify-content: center;
}

.theme__changer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme__changer-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition-delay);
    color: white;
}

.content__pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.content__pictures-post {
    height: 170px;
    border-radius: 3%;
    transition: 1.2s;

}

.content__pictures-post:hover {
    transform: scale(1.1);
}

.content__picture {
    margin-top: 20px;
    width: 280px;
    height: 180px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.content__picture-image {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    z-index: 1;
    height: 94%;
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    opacity: 0;
    max-width: 221px;
    max-height: 135px;

}

.content__picture-image:hover {
    opacity: 0.9;
}

.content__picture:hover .content__picture-image {
    opacity: 1;
}

.content__picture-image::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    opacity: .85;
}

.content__picture-title {
    font-size: 15px;
}

.portfolio__item_name {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--on-accent-text-color);
}

.portfolio__item_description {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 3px;
    color: var(--on-accent-text-color);
    text-align: center;
}

.portfolio__item_link {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




.content__picture-text {
    font-size: 10px;
    margin: 10px;
}

.content__picutre_link-icon {
    margin-top: 15px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color__button:hover {
    transform: scale(1.2);
}

.theme__changer-image {
    transition: var(--transition-delay);
}

.scroll__up_icon.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.theme__changer-image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.sun__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.moon__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.facebook__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.instagram__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.linkedin__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.twitter__image.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}