[color-scheme='light'] {
  color-scheme: light;
  --color-main-background: #e7e7e7;
  --color-font: #575757;
  --color-yellow: #fbd144;
  --color-button: #ffffff;
  --color-white: #ffffff;
  --color-active-button: #d7d7d7;
  --color-yellow-button-font: #3d3d3d;
  --color-black: #000000;
  --color-portfolio-name: #3d3d3d;
  --color-permanent-font: #575757;
  --color-green: #4eefac;
  --color-red: #e26060;
}

[color-scheme='dark'] {
  color-scheme: dark;
  --color-main-background: #0c151d;
  --color-font: #a3abb2;
  --color-yellow: #ffe071;
  --color-button: #171f26;
  --color-white: #ffffff;
  --color-active-button: #0c151d;
  --color-yellow-button-font: #3d3d3d;
  --color-black: #000000;
  --color-portfolio-name: #f1f2f4;
  --color-permanent-font: #575757;
  --color-green: #30ab78;
  --color-red: #ae4040;
}
