.header__container {
    max-width: 1392px;
    padding: 40px 24px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-accent);
}

.nav__link:not(:last-child) {
    margin-right: var(--space-measure);
}