*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E9EBEC;
<<<<<<< HEAD
  font-family: 'poppins';
  color: #575757;
  font-weight: 500;
  font-size: 22px;
=======
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
}

a {
  text-decoration: none;
  color: #484f5b;
}

li {
  list-style-type: none;
}

<<<<<<< HEAD
=======
h1,
h2,
h3,
p,
a,
button,
li {
  font-family: 'poppins';
  color: #575757;
  font-weight: 500;
}

p,
button,
li {
  font-size: 22px;
}

>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  padding: 0 15px;
}


@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}