/* header */
<<<<<<< HEAD
.theme__switch {
=======
.theme-switch {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  cursor: pointer;
  margin-top: 40px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
<<<<<<< HEAD
.theme__switch:hover {
  transform: rotate(360deg);
}
.theme__switch img {
=======

.theme-switch:hover {
  transform: rotate(360deg);
}

.theme-switch img {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  width: 34px;
  height: 34px;
}

<<<<<<< HEAD
=======
.avatar-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
/* header */

/* profile*/
.profile {
  margin-top: 65px;
  text-align: center;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
}

.profile .profile__avatar {
=======
}

.profile .avatar {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  overflow: hidden;
  margin-right: 40px;
  border: 5px solid #FED855;
}


<<<<<<< HEAD
.profile__avatar {
=======
.avatar {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  cursor: pointer;
  width: 100%;
  height: 100%;
}
<<<<<<< HEAD
.profile__avatar:hover {
=======
.avatar:hover {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

<<<<<<< HEAD
.profile .profile__avatar img {
=======
.profile .avatar img {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 7px solid #ffffff;
}

<<<<<<< HEAD
.profile .profile__info {
=======
.profile .profile-info {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  font-weight: 300;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.profile__info-items {
  text-align: left;
}

.profile__info-items h1 {
=======
.profile-info-items {
  text-align: left;
}

.profile-info-items h1 {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  font-size: 46px;
  color: #3D3D3D;
}

<<<<<<< HEAD
.profile .profile__social-icons {
=======
.profile .social-icons {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  margin-top: 15px;
  display: flex;
  gap: 32px;
  align-items: center;
}

<<<<<<< HEAD
.profile__social-icons {
=======
.icon {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  filter: brightness(0) invert(0.4);
}

/* profile*/


/* achievments*/
.achievements {
  display: flex;
  text-align: center;
<<<<<<< HEAD
  justify-content: center;
=======
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  margin-top: 68px;
  gap: 4vw;
}

<<<<<<< HEAD
.achievements__item-title {
=======
.achievements-item-title {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  color: #3D3D3D;
}

/* achievments*/


/* buttons*/
.buttons {
<<<<<<< HEAD
  justify-content: center;
=======
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  margin-bottom: 15px;
  margin-top: 60px;
  display: flex;
  gap: 2vw;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
}

.btn_style {
  color: #3D3D3D;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 290px;
  height: 80px;
}

.btn_style:hover {
  background-color: #FBD144;
  transition-duration: 0.3s;
}

.btn_contact {
<<<<<<< HEAD
  font-size: 22px;
  color: #3D3D3D;
  background-color: #ffffff;
}
.btn_download {
  font-size: 22px;
  color: #3D3D3D;
  background-color: #ffffff;
}
=======
  background-color: #ffffff;
}

>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
/* buttons*/


/* tab*/
.tab-buttons-block {
<<<<<<< HEAD
  margin: 0 auto;
=======
  margin-top: 100px;
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 760px;
  height: 110px;
}

<<<<<<< HEAD
.tab__buttons {
=======
.tab-buttons {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  display: flex;
  justify-content: center;
  width: 95%;
  height: 80%;
}

<<<<<<< HEAD
.tab__buttons-button {
  font-weight: 500;
  font-size: 22px;
=======
.tab-button {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  color: #19191B;
  border: none;
  background-color: transparent;
  flex: 1;
  cursor: pointer;
}

<<<<<<< HEAD
.tab__buttons-button.active {
=======
.tab-button.active {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  border-radius: 10px;
  background-color: #ccc;
}

.tab-content .tab-panel {
  display: none;
}

.tab-content .active {
  margin-top: 80px;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.grid-item {
  width: 360px;
  height: 220px;
  position: relative;
}

.grid-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.tab-content #tab1 .grid-item:hover::before {
  background-color: #FFE071E0;
  opacity: 0.9;
  cursor: pointer;
}

<<<<<<< HEAD
.tab-content #tab1 .grid-item p.grid-item__title {
  font-size: 22px;
}

.tab-content #tab1 .grid-item p.grid-item__subtitle {
  font-size: 14px;
}

.tab-content #tab1 .grid-item p.grid-item__title,
.tab-content #tab1 .grid-item p.grid-item__subtitle {
=======
.tab-content #tab1 .grid-item p.grid-item-title {
  font-size: 22px;
}

.tab-content #tab1 .grid-item p.grid-item-subtitle {
  font-size: 14px;
}

.tab-content #tab1 .grid-item p.grid-item-title,
.tab-content #tab1 .grid-item p.grid-item-subtitle {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

<<<<<<< HEAD
.tab-content #tab1 .grid-item p.grid-item__subtitle {
  margin-top: 25px;
}

.tab-content #tab1 .grid-item:hover p.grid-item__title,
.tab-content #tab1 .grid-item:hover p.grid-item__subtitle {
=======
.tab-content #tab1 .grid-item p.grid-item-subtitle {
  margin-top: 25px;
}

.tab-content #tab1 .grid-item:hover p.grid-item-title,
.tab-content #tab1 .grid-item:hover p.grid-item-subtitle {
>>>>>>> 5d53e5b2da1e1e1f2f060f3eb632de61c67067cf
  opacity: 1;
}

.grid-item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* tab*/

/* arrow to top*/
.arrow-top {
  display: none;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.arrow-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* arrow to top*/

/* footer*/
footer {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

/* footer*/