header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 3rem;
}

.theme-switch {
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

.theme-switch__icon {
    width: 40px;
    height: 40px;
    position: absolute;
}

.person-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.person-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 215px;
    width: 631px;
}

.person__avatar {
    width: 215px;
    height: 215px;
}

.person__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    max-height: 156px;
}

h1 {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 46px;
    margin: 0;
}

.person__job-title {
    margin: 0;
    font-weight: 500;
    color: var(--text-color-primary)
}

.person__social-media {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    align-items: flex-start;
}

.person__sm-link {
    height: 36px;
    width: 36px;
}

.person__sm-link:hover {
    filter: brightness(50%);
}

.person__sm-icon {
    height: 100%;
    width: 100%;
}

.achievements {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.achievements-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.achievements-item-title, .achievements-item-subtitle {
    text-align: center;
    font-weight: 500;
    color: var(--text-color-primary);
}

.achievements-item-title {
    font-size: 24px;
    color: var(--text-color-additional);
}

.achievements-item-subtitle {
    letter-spacing: 0.1rem;
    line-height: 140%;
}

.contact-btn {
    max-height: 80px;
    max-width: 618px;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.btn {
    width: 290px;
    height: 80px;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn_download {
    background-color: var(--accent-color);
}

.btn_download:hover {
    filter: contrast(120%);
}

.btn_contact {
    background-color: var(--secondary-color);
}

.btn_contact:hover {
    background-color: var(--nav-active-color);
}

.arrow-icon {
    width: 24px;
    height: 27px
}