@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import 'variables.css';

/*font-family: 'Poppins', sans-serif;*/
body {
    max-width: 757px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    background-color: var(--background-main);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

/*header*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 3rem;
}

.theme-switch {
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

.theme-switch__icon {
    width: 40px;
    height: 40px;
    position: absolute;
}

.person-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.person-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 215px;
    width: 631px;
}

.person__avatar {
    width: 215px;
    height: 215px;
}

.person__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    max-height: 156px;
}

h1 {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 46px;
    margin: 0;
}

.person__job-title {
    margin: 0;
    font-weight: 500;
    color: var(--text-color-primary)
}

.person__social-media {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    align-items: flex-start;
}

.person__sm-link {
    height: 36px;
    width: 36px;
}

.person__sm-link:hover {
    filter: brightness(50%);
}

.person__sm-icon {
    height: 100%;
    width: 100%;
}

.achievements {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.achievements-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.achievements-item-title, .achievements-item-subtitle {
    text-align: center;
    font-weight: 500;
    color: var(--text-color-primary);
}

.achievements-item-title {
    font-size: 24px;
    color: var(--text-color-additional);
}

.achievements-item-subtitle {
    letter-spacing: 0.1rem;
    line-height: 140%;
}

.contact-btn {
    max-height: 80px;
    max-width: 618px;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.btn {
    width: 290px;
    height: 80px;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn_download {
    background-color: var(--accent-color);
}

.btn_download:hover {
    filter: contrast(120%);
}

.btn_contact {
    background-color: var(--secondary-color);
}

.btn_contact:hover {
    background-color: var(--nav-active-color);
}

.arrow-icon {
    width: 24px;
    height: 27px
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 760px;
}

nav {
    max-height: 132px;
}

.navigation-form {
    height: 100%;
    display: flex;
    border-radius: 0.7rem;
    padding: 0.7rem 1rem 0.7rem;
    background-color: var(--secondary-color);
    justify-content: space-between;
}

.portfolio__label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    height: 80px;
    font-weight: 500;
    width: 364px;
    color: var(--text-color-additional2);
}

.navigation-form input:checked + label {
    background-color: var(--nav-active-color);
}

form#tab-toggle {
    width: 760px;
}

.main-container {
    max-width: 760px;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.portfolio__img-wrapper {
    max-width: 362px;
    max-height: 226px;
    margin-bottom: 1.2rem;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.portfolio__project img{
    width: 100%;
    height: 100%;
}

.portfolio__description {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.3rem;
    top: 18%;
    padding: 0 1.5rem 0;
    color: var(--text-color-secondary);
}

.portfolio__img-wrapper:hover > .portfolio__description {
    display: flex;
}

.portfolio__img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(251, 209, 68, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.portfolio__img-wrapper:hover::before {
    opacity: 1;
}

h3 {
    margin: 0;
    font-weight: 500;
}

.portfolio__project-description {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
}

.portfolio__link-wrapper {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__link img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25%;
    left: 25%;
}

.skill-container {
    display: none;
    max-width: 760%;
}

.skill__title {
    margin-left: 2.3rem;
    text-decoration: underline;
}

li {
    font-size: 16px;
    margin-bottom: 0.8rem;
}

footer {
    margin: 4rem 0 1rem;
    font-weight: 500;
    color: var(--text-color-primary);
}

