.experience__container {
    padding: 0.9em 1.4em;
}

.experience__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.experience__item:not(:last-child) {
    margin-right: 4.09em;
}

.experience__item-descr {
    text-align: center;
    color: var(--color-text-secondary);
}