.menu {
    padding-top: 1.5em;
    padding-bottom: 2.95em;
}

.menu__btn {
    padding: 0;
    width: 80px;
    height: 80px;
    border-radius: 100%;   
    background: var(--white-color) url("../../assets/icons/switch-color.svg") no-repeat center/50% 50%;
    transition: background-color .5s ease-in;
}

.menu__btn--dark {
    background: var(--grey-dark-color) url("../../assets/icons/swiitch-color--dark.svg") no-repeat center/50% 50%;
}

.menu__btn:hover, .menu__btn--dark:hover {
    background-color: var(--accent-color);
}

.person-card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2.18em;
}

.person-card__img {
    margin-right: 1.8em;
    width: 215px;
    height: 215px;
    border-radius: 100%;
    border: 4px solid var(--accent-color);
    background:  var(--white-color) url("../../assets/images/candidate.png") no-repeat center/90% 90%;
}

.person-card__info {
    display: flex;
    flex-direction: column;
}

.person-card__heading {
    font-size: 2.09rem;
    padding-bottom: 0.3em;
    color: var(--color-text-secondary);
}

.person-card__heading--dark {
    color: var(--color-text-secondary-dark);
}

.person-card__profession {
    padding-bottom: 0.55em;
    align-self: center;
    /* color: var(--color-text-secondary); */
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 1.18em;
}

.social__link {
	display: block;
    width: 36px;
	height: 36px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.social__link--gh {
	background-image: url(../../assets/icons/social/github.svg);
}

.social__link--gh-dark {
	background-image: url(../../assets/icons/social/github--dark.svg);
}

.social__link--tw {
	background-image: url(../../assets/icons/social/twitter.svg);
}

.social__link--tw-dark {
	background-image: url(../../assets/icons/social/twitter--dark.svg);
}

.social__link--lin {
	background-image: url(../../assets/icons/social/linkedin.svg);
}

.social__link--lin-dark {
	background-image: url(../../assets/icons/social/linkedin--dark.svg);
}

.social__link--yt {
	background-image: url(../../assets/icons/social/youtube.svg);
}

.social__link--yt-dark {
	background-image: url(../../assets/icons/social/youtube--dark.svg);
}