@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .social__link {
        width: 24px;
        height: 24px;
    }

    .projects__btns-btn {
        padding: 1.25em 4.33em;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }

    .menu__btn {
        padding: 0;
        width: 48px;
        height: 48px;
    }

    .projects__item {
        width: 340px;
        height: 210px;
    }

    /* .projects__btns-btn {
        padding: 1.25em 4.33em;
    } */

    .btnScrollTop {
        display: block;
    }
}