body{
    background-color: grey;
    font-size: 15px;
}

.users-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.users-container__row{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.users-container__row div{
    width: 20%;
}

.users-container__row div p{
    margin: 0;
    font-size: 10px;
}


h2{
    font-size: 3em;
    color: rgb(44, 12, 44);
}
