@media screen and (min-width: 769px) {
    .portfolio_buttons {
        padding: 1.5vw;
    }
}

@media screen and (max-width: 769px) {
    .profile_main_info {
        flex-direction: column;
    }

    .portfolio_buttons {
        padding: 2vw;
    }

    .profile_info {
        margin-top: 1rem;
        align-items: center;
    }

    .portfolio_examples {
        flex-direction: column;
    }
}

@media screen and (max-width: 597px) {
    .text {
        font-size: 14px;
    }

    .download_icon {
        width: 22px;
        height: 22px;
    }

    .title {    
        font-size: 32px; 
    }

    .social_media_link_icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 426px) {
    .profile_avatar {
        width: 124px;
        height: 124px;
        background-color: transparent !important;
    }

    .portfolio_buttons {
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 321px) {
    .action_button {
        font-size: 12px;
    }

    .download_icon {
        width: 16px;
        height: 16px;
    }
}