.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_toogle {
    width: 45px;
    height: 45px;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background: var(--toggle-switcher-bg-color);
}

.header_theme_toogle {
    transition-duration: 1s;
}

.header_theme_toogle:hover {
    transform: scale(1.25);
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header_theme_toogle_rotate {
    animation: rotate360 0.5s linear;
}

.theme_toogle_icon {
    width: 25px;
    height: 25px;
}