.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_toogle {
    width: 45px;
    height: 45px;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.header_theme_toogle_dark {
    background-color: #171F26;
}

.header_theme_toogle_light {
    background-color: white;
}

.theme_toogle_icon {
    width: 25px;
    height: 25px;
}