.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_toogle {
    width: 45px;
    height: 45px;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background: var(--toggle-switcher-bg-color);
}

.theme_toogle_icon {
    width: 25px;
    height: 25px;
}