* {
    margin-block: 0px;
    margin-inline: 0px;
}

body {
    padding-block: 2rem;
    padding-inline: 10px;
    background-color: var(--main-bg-color);
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 22px;
    font-family: Poppins;
    color: var(--text-color);
}

.title {
    font-size: 46px;
    font-family: Poppins;
    color: var(--title-color);
}

/*Fonts*/
@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}
