* {
    margin-block: 0px;
    margin-inline: 0px;
}

body {
    background-color: #0C151D;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*Fonts*/
@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}