.iconBtn {
  width: 60px;
  height: 65px;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.iconBtn--delete {
  background-image: url(../../../assets/images/delete.svg);
}

.iconBtn--update {
  background-image: url(../../../assets/images/write.svg);
}

.iconBtn--close {
  position: relative;
  top: 2px;
  right: 10px;
  width: 18px;
  height: 18px;
  align-self: flex-end;
  background-image: url(../../../assets/images/close.svg);
}

.iconBtn--approveEdit {
  width: 30px;
  height: 35px;
  background-image: url(../../../assets/images/approve.svg);
}

@media (max-width: 576px) {
  .iconBtn {
    width: 30px;
    height: 35px;
  }

  .iconBtn--close {
    width: 18px;
    height: 18px;
  }
}
