.container {
	width: 600px;
	min-height: 100vh;
	margin: 0 auto;
	padding-bottom: 100px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: #fff;
	opacity: 0.7;
	margin-bottom: 20px;
}

.todosList {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.button {
	padding: 8px 16px;
	background-color: rgba(255, 255, 255, 0.36);
	color: #fff;
	font-weight: 600;
}

.siginButton {
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 700;
	background-color: #0c0c0c;
	color: #FFFFFF;
}

.addTaskContainer {
	margin-top: 30px;
}

.addTodoBtn {
	width: 100%;
	padding: 20px 30px;
	text-align: center;
	background-color: rgba(12, 12, 12, 0.15);
	border-radius: 10px;
	border: 2px dashed rgba(190, 190, 190, 0.64);
	font-weight: 700;
	color: #c7c7c7;
	cursor: pointer;
	user-select: none;
	transition: 0.2s;
}

.addTodoBtn:hover {
	border: 2px dashed rgba(216, 216, 216, 0.75);
	color: #e2e2e2;
}