.cv-nav {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--primary-bg);
}

.cv-nav__list {
  justify-content: space-between;
}

.cv-nav__list-item,
.cv-nav__link {
  width: 100%;
}

.cv-nav__link:not(.cv-nav__link_active):hover,
.cv-nav__link:active {
  transform: none;
}

.cv-nav__link_active {
  background-color: var(--primary-bg-darkest);
}
