.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 12rem;
  background-color: var(--background-color);
  border: 4px solid var(--green);
  border-radius: var(--border-radius);

  &:after {
    content: ' ';
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0.4rem;
    border-radius: 50%;
    border: 6px solid var(--green);
    border-color: var(--green) transparent var(--green) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
