.button {
  position: fixed;
  bottom: 2rem;
  width: 11.5rem;
  height: 1.9rem;
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--green);
}
