
body {
    background-color: #e9ebec;
}
.container-button-dark-theme__button {
    background-color: white;
}
.profile-container__profile-title {
    color: #3d3d3d;
}
.profile-container__profile-image {
    background-color: white;
}
.personal-info-container__top {
    color: #3a3a3a;
}
.personal-info-container__bottom {
    color: #575757;
}
.profile-container__info {
    color: #575757;
}
.container-buttons__download {
    color: #19191b;
}
.container-buttons__contact {
    color: #19191b;
}
.button-container-portfolio-box {
    background-color: white;
}
.button-container-portfolio-box__buttons {
    color: #19191b;
}
.button-container-portfolio-box__button1 {
    background-color: #d7d7d7;
}
.button-container-portfolio-box__button2 {
    background-color: white;

}
.container-buttons__download {
    background: #fbd144;
}
.footer__span {
    color: #575757;
}

.background-color-0c151d {
    background-color: #0c151d;
}

.color-a3abb2 {
 color: #a3abb2;
}
  
.color-F1F2F4 {
  color: #f1f2f4;
}

.background-color-171F26 {
    background-color: #171f26;
}
  
.background-color-ffe071 {
    background-color: #ffe071;
}
  