/* header */
.theme-switch {
    cursor: pointer;
    margin-top: 40px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    
    img {
      width: 34px;
      height: 34px;
    }
  }
  
  .avatar-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  /* header */
  
  /* profile */
  .profile {
    margin-top: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
  
    .avatar {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      width: 192px;
      height: 192px;
      overflow: hidden;
      margin-right: 40px;
      border: 5px solid #FED855;
      
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 7px solid #ffffff;
      }
      
      &.enlarged {
        margin-top: 200px;
        z-index: 2;
        transform: scale(3.2);
      }
    }
  
    .profile-info {
      font-weight: 300;
      margin-top: 10px;
      display: flex;
      align-items: center;
  
      &-items {
        text-align: left;
        
        h1 {
          font-size: 46px;
          color: #3D3D3D;
        }
      }
    }
  
    .social-icons {
      margin-top: 15px;
      display: flex;
      gap: 32px;
      align-items: center;
  
      .icon {
        filter: brightness(0) invert(0.4);
      }
    }
  }
  
  /* profile */
  
  /* achievements */
  .achievements {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 68px;
    gap: 4vw;
  
    &-item-title {
      color: #3D3D3D;
    }
  }
  
  /* achievements */
  
  /* buttons */
  .buttons {
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 60px;
    display: flex;
    gap: 2vw;
  
    .btn_style {
      color: #3D3D3D;
      background-color: #ffffff;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      width: 290px;
      height: 80px;
  
      &:hover {
        background-color: #FBD144;
        transition-duration: 0.3s;
      }
  
      &.btn_contact {
        background-color: #ffffff;
      }
    }
  }
  
  /* buttons */
  
  /* tab */
  .tab-buttons-block {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 760px;
    height: 110px;
  
    .tab-buttons {
      display: flex;
      justify-content: center;
      width: 95%;
      height: 80%;
  
      .tab-button {
        color: #19191B;
        border: none;
        background-color: transparent;
        flex: 1;
        cursor: pointer;
  
        &.active {
          border-radius: 10px;
          background-color: #ccc;
        }
      }
    }
  }
  
  .tab-content {
    .tab-panel {
      display: none;
    }
  
    .active {
      margin-top: 80px;
      display: block;
    }
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
  
      .grid-item {
        width: 360px;
        height: 220px;
        position: relative;
  
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }
  
        &:hover::before {
          background-color: #FFE071E0;
          opacity: 0.9;
          cursor: pointer;
        }
  
        p.grid-item-title {
          font-size: 22px;
        }
  
        p.grid-item-subtitle {
          font-size: 14px;
          margin-top: 25px;
        }
  
        p.grid-item-title, p.grid-item-subtitle {
          cursor: pointer;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s ease;
          text-align: center;
        }
  
        &:hover {
          p.grid-item-title, p.grid-item-subtitle {
            opacity: 1;
          }
        }
  
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  
  /* tab */
  
  /* footer */
  footer {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
  }
  
  /* footer */
  